<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ay_sooapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Utils.AySooApp"
        android:allowBackup="true"
        android:icon="@drawable/aysoo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aysoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity"
             android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"

            android:resource="@drawable/aysoo" />


        <receiver
            android:name=".Utils.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".FirebaseUtil.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseUtil.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".AlertListActivity"
             android:screenOrientation="portrait"/>
        <activity android:name=".ContactUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateAlertActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContactActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ItemDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity android:name=".FaceBookLogin"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".FaceBooKLoginActivity" />
        <activity android:name="com.google.android.gms.samples.vision.ocrreader.OcrCaptureActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SpleshScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FAQActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PrivacyPolicyActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>